
@font-face{
    font-family: 'Graphik';
    font-weight: 400;
    src:  url(../fonts/Graphik-Regular.ttf) format(truetype),
    url(../fonts/Graphik-Regular.woff2) format(woff2),
    url(../fonts/Graphik-Regular.woff) format(woff);
   
}
@font-face{
    font-family: 'Graphik';
    font-weight: 600;
    src: url(../fonts/Graphik-SemiboldItalic.ttf) format(truetype),
    url(../fonts/Graphik-SemiboldItalic.woff2) format(woff2),
    url(../fonts/Graphik-SemiboldItalic.woff) format(woff);
    
}